* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.container{
    width: 1140px;
    margin: 0 autoКонтакты;
}

#header {
    background: url("../img/bg.png") no-repeat top/cover;
    height: 100vh;
}

.header {
    display: inline-block;
    padding: 40px 0;
    margin-left: 30px;

}

.header__navbar {
    margin-left: 80px;
}

.navbar__item {
    margin: 0 37px;
    font-family: 'Nexa', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13.5715px;
    line-height: 16px;
    margin-left: 45px;
    color: #fff;
    
    text-transform: uppercase;
}
.hero__photo{
    position: absolute;
    bottom: 0px;
    left:750px;
    width: 40%;
    height:70%;
}
.hero__girl {
    position: absolute;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 8px;
    margin-top: 110px;

}
.header__line {
    display: inline-block;
    width: 280px;
    height: 1px;
    background: #fff;
    margin-right: 25px;
}

.header__icon {
    border: 2px solid #9F7FF3;
    padding: 10px 7px 5px 7px;
    border-radius: 4px;
    
}

.the-title{
    font-family: 'Nexa';
    font-style: normal;
    font-weight: 900;
    font-size: 68.7982px;
    line-height: 83px;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    margin-left: 20px;

    color: #FFFFFF;

    text-shadow: 0px 4.89173px 34.2421px rgba(255, 255, 255, 0.33);
}
.the-titletwo{
    font-style: normal;
    font-weight: 900;
    font-size: 67.6875px;
    line-height: 81px;
    letter-spacing: 0.055em;
    margin-left: 20px;
    text-shadow: 0px 4.89173px 29.3504px rgba(218, 204, 255, 0.8);
}
.worlds{
    font-family: 'Nexa';
    font-style: normal;
    font-weight: 400;
    font-size: 19.3076px;
    line-height: 23px;
    margin-top: 40px;
    margin-left: 30px;
    color: #FFFFFF;


}